<div class="c-comments c-write" id="coment-box">
  <div class="c-comments__photo ">
    <img src="buscaImagem/<%= USUARIO.foto  %>" alt="">
  </div>
  <div class="c-comments__box">
    <p><textarea name="" id="comentario-texto" placeholder="Digite um comentário"></textarea></p>
    <% if(typeof(dominantColor) != "undefined") { %>
    <button type="button" class="btn" style="color: white;" id="posta-comentario" disabled>
      <% } %>
      <span class="" id="spinner"></span>
      Posta Comentário
    </button>
  </div>
</div>
<div>
  <% if(typeof(countRestantes) != "undefined") { %>
  <input class="countRestantes" type="hidden" value="<%= countRestantes  %>">
  <% } %>

  <% for(let comentario of comentarios) { %>
  <div class="c-comments" id="<%= comentario.comentario_id  %>">

    <div class="c-comments__photo">
      <a href="/perfil/<%= comentario.usuario_id  %>">
        <img src="/buscaImagem/<%= comentario.usuario_foto  %>" alt="">
      </a>
    </div>

    <div class="c-comments__box animate-bubble-float-left">
      <div class="c-comments__box--header">
        <div class="c-comments__info">
          <h4><%= comentario.usuario_apelido  %></h4>
          <% if(flagPerfilUsuario) { %>
          <p>
          <h3>Comentou em <a href="/jogo?id=<%= comentario.jogo_id  %>">
              <%= comentario.jogo_nome  %></a></h3>
          </p>
          <% } %>
        </div>
        <div class="c-comments__features">
          <!-- <% if(!flagPerfilUsuario) { %>
            <% } %>
          <div class="c-comments__features--players">
            <strong><i class="icon ion-ios-game-controller-a-outline"></i></strong>
          </div> -->
          <% if(comentario.favorito != null) { %>
          <div class="c-comments__features--likes">
            <strong><i class="icon ion-ios-heart"></i></strong>
          </div>
          <% } %>
          <% if(comentario.avaliacao != null) { %>
          <div class="c-comments__features--evaluation">
            <span><%= parseFloat(comentario.avaliacao).toFixed(1) %></span>
          </div>
          <% } %>
        </div>
      </div>
      <p><%= comentario.comentario_texto %></p>
      <p><strong>Data:</strong> <%= comentario.comentario_data %></p>
    </div>
  </div>
  <% } %>
</div>