<%- include('./partials/header') %>
<link rel='stylesheet' href='/css/separados/busca.css' />
<section id="temaBusca"></section>

<div class="container" id='containerTema'>
    <!-- <div class="row"> -->

    <div class="col-12" id='areaCentralJogo'>

        <!-- <form onsubmit="return false;"> -->
        <div id="caixaDeBusca" class="c-search-page">
            <form action='/busca' method='GET'>
                <div class="c-search-page__default">
                    <select id="tipo" name="tipo" class="form-group">
                        <option>Selecione</option>
                        <option value="usuario">Usuário</option>
                        <option value="jogo">Jogo</option>
                    </select>
                    <div class=buscaUsuario>
                        <input type="text" name="nomeUsuario" class="form-group" placeholder="Buscar usuarios...">
                    </div>
                    <div class="buscaJogo">
                        <div>
                            <input type="text" id="nome" name='nomeJogo' placeholder="Buscar jogos...">
                        </div>
                    </div>
                </div>
                <div class="c-advance-filter">
                    <div id="tema" name="tema">
                        <label id='rotulo'>Tema</label>
                        <select id="temaSelector" name='tema'>
                            <option selected value='0' name="tema">Selecione</option>
                        </select>
                    </div>
    
                    <div id="dominio" name="dominio">
                        <label id='rotulo'>Domínio</label>
                        <select id="dominioSelector" name='dominio'>
                            <option selected value='0'>Selecione</option>
                        </select>
                    </div>
    
                    <div id="mecanica" name="mecanica">
                        <label id='rotulo'>Mecânica</label>
                        <select id="mecanicaSelector" name='mecanica'>
                            <option selected value='0'>Selecione</option>
                        </select>
                    </div>
                </div>
                <button type="submit" id='botaoCadastro'>Pesquisar!</button>
            </form>
        </div>


        <!-- resultado de busca -->
        <div id="dadosBusca">
            <% 
            
            if(jogos !== null) { %>
                <%- include('./partials/highlights-table', {jogos, flagClicavel : true}) %>
            <% } 
            
            if(usuarios !== null) { %>
                <div class="c-result-content" data-aos="fade-up" data-aos-duration="1000"
                data-aos-delay="200">
                    
                    <% for(let usuario of usuarios) { %>
                        <div class="c-result-person">
                            <a href="/perfil/<%= usuario.id %>">
                                <div class="c-result-person--photo" style="background: url('/buscaImagem/<%= usuario.foto %>') center center no-repeat;"></div>
                                <p><%= usuario.nome %></p>
                            </a>
                        </div>
                    <% } %>
                </div>
            <% } %>
        </div>
    </div>


</div>

<!-- </div> -->

</div>
<script>
    var jogos = '<%- jogos %>';
</script>
<script src="js/scriptBusca.js"></script>
<%- include('./partials/footer') %>