<%- include('./partials/header') %>

<!--
<div>
    <img src="/images/heads/h1.jpg" id="fotoDePagina" alt='fotoDePagina' title="FotoDePagina" width=100% />
</div>
-->
<section id="temaCadastroJogo"></section>
<div class="container" id='containerTema'>
    <div class="text-right">
        <label class="custom-file-upload" id='btnAltTema2'>
            <input type="file" id='inputFileTemaJogo'/>
            Alterar Tema
        </label>
    </div>
    <div class="row">
        <div class="col-12" id='areaCentralJogo'>
            <h1 id='cadJogoH1'>Cadastro Jogo</h1>
            <div class="row">
                <div class="col-0 col-sm-12 col-md-1 col-lg-1"></div>
                <div class="col-12 col-sm-12 col-md-8 col-lg-8" id='areaCinzaFormJogo'>
                    <form action='/cadastroJogo' method='POST'>
                        <div class="row">
                            <div class="col-2 col-sm-2 col-md-1 col-lg-1"></div>
                            <div class="col-8 col-sm-8 col-md-10 col-lg-10" id='areaCentralFormJogo'>
                                <h2>Informações Básicas</h2>

                                <div class="form-group pt-3">
                                    <label for="nomeJogo">Nome</label>
                                    <input type="text" class="form-control" id="nomeJogo" name="nomeJogo" required>
                                </div>
                                <div class="row tamanho">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="anoJogo">Ano</label>
                                            <select class="form-control" id="anoJogo" name="anoJogo">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="faixaEtaria">Faixa Etária</label>
                                            <select class="form-control" id="faixaEtaria" name="faixaEtaria" required>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row tamanho">
                                    <div class="col-7">
                                        <div class="form-group">
                                            <label for="duracao">Duração</label>
                                            <input type="number" class="form-control" id="duracao" name="duracao">
                                        </div>
                                    </div>
                                    <div class="col-5 nopadding">
                                        <br>
                                        <br>
                                        minutos
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="descricaoJogo">Descrição</label>
                                    <textarea style="resize: none" class="form-control" id="descricaoJogo"
                                        rows="4" name="descricaoJogo" required></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="temaJogo">Tema</label>
                                    <select class="form-control" id="temaJogo" name="temaJogo">
                                        <option value="">Selecione</option>
                                        <% for(tema of temas) { %>
                                            <option value=<%= tema.id %>><%= tema.nome %></option>
                                        <% } %>
                                    </select>
                                </div>
                                <div class="col-1"></div>
                            </div>
                            <div class="col-2 col-sm-2 col-md-1 col-lg-1"></div>
                        </div>
                        <div class="row">
                            <div class="col-2 col-sm-2 col-md-1 col-lg-1"></div>
                            <div class="col-8 col-sm-8 col-md-10 col-lg-10" id='areaCentralFormJogo2'>
                                <p>
                                    <button class="btn btn-lg btn-block mycolorbutton" type="button"
                                        data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                                        aria-controls="collapseExample">
                                        Quantidade Jogadores
                                    </button>
                                </p>
                                <div class="collapse" id="collapseExample">
                                    <div class="card card-body cardQtdJogadores">
                                        <div class="row tamanho">
                                            <div class="col-6">
                                                <div class="form-group pt-3">
                                                    <label for="minJogadores">Mínimo</label>
                                                    <input type="number" class="form-control" id="minJogadores"
                                                        name="minJogadores">
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group pt-3">
                                                    <label for="maxJogadores">Máximo</label>
                                                    <input type="number" class="form-control" id="maxJogadores"
                                                        name="maxJogadores">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-2 col-sm-2 col-md-1 col-lg-1"></div>
                        </div>

                        <div class="row">
                            <div class="col-2 col-sm-2 col-md-1 col-lg-1"></div>
                            <div class="col-8 col-sm-8 col-md-10 col-lg-10" id='areaCentralFormJogo2'>
                                <p>
                                    <button class="btn btn-lg btn-block mycolorbutton" type="button"
                                        data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false"
                                        aria-controls="collapseExample">
                                        Características do Jogo
                                    </button>
                                </p>
                                <div class="collapse" id="collapseExample2">
                                    <div class="card card-body cardCarJogo">
                                        <div class="form-group pt-3">
                                            <label for="pesoJogo">Peso (Dificuldade)</label>
                                            <select class="form-control" id="pesoJogo" name="pesoJogo">
                                                <option value="">Selecione</option>
                                                <option value="1">Leve</option>
                                                <option value="2">Médio-Leve</option>
                                                <option value="3">Médio</option>
                                                <option value="4">Médio-Pesado</option>
                                                <option value="5">Pesado</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="dominioJogo">Domínio (Categoria)</label>
                                            <select class="form-control" id="dominioJogo" name="dominioJogo">
                                                <option value="">Selecione</option>
                                                <% for(dominio of dominios) { %>
                                                    <option value=<%= dominio.id %>><%= dominio.nome %></option>
                                                <% } %>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="mecanicaJogo">Mecânica</label>
                                            <select class="form-control" id="mecanicaJogo" name="mecanicaJogo">
                                                <option value="">Selecione</option>
                                                <% for(mecanica of mecanicas) { %>
                                                    <option value=<%= mecanica.id %>><%= mecanica.nome %></option>
                                                <% } %>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="downtimeJogo">Downtime</label>
                                            <select class="form-control" id="downtimeJogo" name="downtimeJogo">
                                                <option value="">Selecione</option>
                                                <option value="1">Baixo</option>
                                                <option value="2">Médio</option>
                                                <option value="3">Alto</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 col-sm-2 col-md-1 col-lg-1"></div>
                        </div>

                        <div class="row">
                            <div class="col-2 col-sm-2 col-md-1 col-lg-1"></div>
                            <div class="col-8 col-sm-8 col-md-10 col-lg-10" id='areaCentralFormJogo2'>
                                <p>
                                    <button class="btn btn-lg btn-block mycolorbutton" type="button"
                                        data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false"
                                        aria-controls="collapseExample">
                                        Informações Complementares
                                    </button>
                                </p>
                                <div class="collapse" id="collapseExample3">
                                    <div class="card card-body cardCompJogo">
                                        <div class="form-group pt-3">
                                            <label for="tutorialJogo">Tutorial</label>
                                            <textarea style="resize: none" class="form-control" id="tutorialJogo"
                                                rows="4" name="tutorialJogo"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="regrasJogo">Regras</label>
                                            <textarea style="resize: none" class="form-control" id="regrasJogo"
                                                rows="4" name="regrasJogo"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 col-sm-2 col-md-1 col-lg-1"></div>
                        </div>

                </div>
                <div class="col-0 col-sm-12 col-md-3 col-lg-3" id="addImg">
                    <div class="row">
                        <div class="col-12 text-center">
                            <div>Foto Perfil Jogo</div>
                            <br>
                            <div class="image-upload">
                                <label for="file-input">
                                    <img src="/images/default/uploadphoto.svg" width="50%" alt="Botão Adicionar Foto Perfil Jogo" title="Clique para adionar a foto do perfil do jogo"/>
                                </label>
                                <input id="file-input" type="file" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>







            <div class="row">
                <div class="col-12 pt-5 text-center">
                    <button type="submit" id='botaoCadastrar'>Cadastrar</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="js/scriptCadastroJogo.js"></script>

<%- include('./partials/footer') %>