<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Looders - <%= title %></title>
    <%- include('./partials/head') %>
</head>

<body class="o-bg-transparent-2">
    <header class="container-fluid o-header u-header-landing">
        <div class="row bkgverde">
            <div class="container">
                <div class="row o-header__container">
                    <div class="o-header__container--logo">
                        <div class="u-logo">
                            <a href="/"><img src="/images/logo-landing.png" alt=""></a>
                        </div>
                        <div class="u-logo--mobile">
                            <a href="/"><img src="/images/logo-mobile.png" alt=""></a>
                        </div>
                    </div>
                    <nav class="o-header__container--login">
                        <ul>
                            <li><span>Já está na Looders?</span></li>
                            <li>
                                <span class="js-modal-login o-btn--rounded animate-grow">Entrar</span>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="container container-cadastro">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-1 col-lg-2"></div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-4 text-center" id='areaCentralCadastro'>
                <div class='figura'>
                    <img src="/images/default/ProfileDefault.png" alt='Logo Looders' />
                </div>
                <form action='/cadastro' method='POST' name="f1" autocomplete="off">
                    <div class="row">
                        <div class="col-12 pt-5 text-center sizeFontErro" id="erro">
                            <% if(typeof(errors) != "undefined"){ %>
                            <p style="color:red">ERRO:</p>
                            <ul>
                                <% errors.forEach((error)=>{ %>
                                <li><%= error.msg %></li>
                                <% }) %>
                            </ul>
                            <% } %>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                        <input type="text" class="form-control inputCadastro" id="nomeUsuario" placeholder="Nome"
                            name='nome' required value="<%= formData.nome %>">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control inputCadastro" id="apelido" placeholder="Apelido"
                            name='apelido' required value="<%= formData.apelido %>">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control inputCadastro" id="emailUsuario" placeholder="E-mail"
                            name='email' required value="<%= formData.email %>">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control inputCadastro" id="senhaUsuario" placeholder="Senha"
                            name='senha' required>
                    </div>
                    <br>
                    <button type="submit" id='botaoCadastro'>Pronto!</button>
                </form>
            </div>
            <div class="col-md-5 col-lg-4 areaCentralFoto">

                <div id="apresentacao"></div>

            </div>
            <div class="col-12 col-sm-12 col-md-1 col-lg-2"></div>
        </div>
    </div>

    <%- include('./partials/modal') %>
    <%- include('./partials/footer') %>