<%- include('./partials/header') %>

<section id="tema"></section>

<div class="container" id='containerTema'>
    <div class="row">
        <div class="col-md-12 ">
            <div class="text-right">
                <button type="submit" id='btnAltTema'>Alterar Tema</button>
            </div>

            <div id='cabecalho'>

                <div id="avatar1">

                </div>

                <div id="highLights">
                    <h3><%=nomeUsuario%></h3>
                    <h4><%=apelidoUsuario%></h4>
                    <h4><%=cidadeUsuario%>/<%=estadoUsuario%></h4>
                </div>

                <div id="descricao"><%=descricaoUsuario%></div>

                <div class="redesSociais">
                    <div id='facebook'></div>
                    <div id='twitter'></div>
                    <div id='googleplus'></div>
                </div>

            </div>
            <div class="row">
                <div class="col-12" id='areaCentralEditar'>
                    <h1 id='cadEditarH1'>Atualizar Informações</h1>
                    <div class="row">
                        <div class="col-0 col-sm-12 col-md-1 col-lg-1"></div>
                        <div class="col-12 col-sm-12 col-md-8 col-lg-8" id='areaCinzaFormEditar'>
                            <form action="/editar" method="POST">
                                <div class="row">
                                    <div class="col-2 col-sm-2 col-md-1 col-lg-1"></div>
                                    <div class="col-8 col-sm-8 col-md-10 col-lg-10" id='areaCentralFormEditar'>
                                        <h2>Informações Básicas</h2>

                                        <div class="form-group pt-3">
                                            <label for="nomeJogo">Nome</label>
                                            <input type="text" class="form-control" id="nomeJogo" name="nomeJogo"
                                                required>
                                        </div>
                                        <div class="row tamanho">
                                            <div class="col-12 col-sm-12 col-md-5 col-lg-5">
                                                <div class="form-group">
                                                    <label for="apelido">Apelido</label>
                                                    <input type="text" class="form-control" id="apelido" name="apelido">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-7 col-lg-7">
                                                <div class="form-group">
                                                    <label for="genero">Gênero</label>
                                                    <select class="form-control" id="genero" name='genero'>
                                                        <option value="">Selecione</option>
                                                        <option>Outros</option>
                                                        <option>Feminino</option>
                                                        <option>Masculino</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row tamanho">
                                            <div class="col-12 col-sm-12 col-md-5 col-lg-5">
                                                <div class="form-group">
                                                    <label for="estado">Estado</label>
                                                    <select class="form-control" id="estado" name='estado'>
                                                        <option value="">Selecione</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-7 col-lg-7">
                                                <div class="form-group">
                                                    <label for="cidade">Cidade</label>
                                                    <select class="form-control" id="cidade" name='cidade'>
                                                        <option value="">Selecione</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="dtNasc">Data de Nascimento</label>
                                            <div class="row tamanho">
                                                <div class="col-3 col-sm-3 col-md-2 col-lg-2 nopaddingleft">
                                                    <select class="form-control nopadding" id="diaNasc" name='diaNasc'>
                                                    </select>
                                                </div>
                                                <div class="col-5 col-sm-5 col-md-3 col-lg-3 nopadding">
                                                    <select class="form-control nopadding" id="mesNasc" name='mesNasc'>
                                                        <option value="1">Janeiro</option>
                                                        <option value="2">Fevereiro</option>
                                                        <option value="3">Março</option>
                                                        <option value="4">Abril</option>
                                                        <option value="5">Maio</option>
                                                        <option value="6">Junho</option>
                                                        <option value="7">Julho</option>
                                                        <option value="8">Agosto</option>
                                                        <option value="9">Setembro</option>
                                                        <option value="10">Outubro</option>
                                                        <option value="11">Novembro</option>
                                                        <option value="12">Dezembro</option>
                                                    </select>
                                                </div>
                                                <div class="col-4 col-sm-4 col-md-3 col-lg-3 nopaddingright">
                                                    <select class="form-control nopadding" id="anoNasc" name='anoNasc'>
                                                    </select>
                                                </div>
                                                <div class="col-md-4 col-lg-4">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row tamanho">
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label for="tipoNivelAP">Tipo (Nível AP)</label>
                                                    <select class="form-control" id="tipoNivelAP" name='tipoNivelAP'>
                                                        <option value="">Selecione</option>
                                                        <option>Baixo</option>
                                                        <option>Médio</option>
                                                        <option>Alto</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-6"></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="descricaoJogo">Descrição</label>
                                            <textarea style="resize: none" class="form-control" id="descricaoJogo"
                                                name='descricaoJogo' rows="4"></textarea>
                                        </div>
                                        <div class="row tamanho">
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label for="senha">Senha</label>
                                                    <input type="password" class="form-control" id="senha" name='senha'>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label for="senha2">Confirmar Senha</label>
                                                    <input type="password" class="form-control" id="senha2"
                                                        name='senha2'>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2 col-sm-2 col-md-1 col-lg-1"></div>
                                </div>
                        </div>
                        <div class="col-0 col-sm-12 col-md-3 col-lg-3" id="addImg">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <div>Foto Perfil</div>
                                    <br>
                                    <div class="image-upload">
                                        <label for="file-input">
                                            <img src="/images/default/uploadphoto.svg" width="50%"
                                                alt="Botão Adicionar Foto Perfil Jogo"
                                                title="Clique para adionar a foto do perfil do jogo" />
                                        </label>
                                        <input id="file-input" type="file" name='avatar' />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>







                    <div class="row">
                        <div class="col-12 pt-5 text-center">
                            <button type="submit" id='botaoEditar'>Atualizar</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <script>
        function buscaEstados() {
            // Set up our HTTP request
            var xhr = new XMLHttpRequest();

            // Setup our listener to process completed requests
            xhr.onload = function () {

                // Process our return data
                if (xhr.status >= 200 && xhr.status < 300) {
                    // Runs when the request is successful
                    let estados = JSON.parse(xhr.responseText);
                    let select = document.getElementById('estado');
                    select.innerText = '';
                    select.innerHTML = '<option value="">Selecione</option>';



                    for (let estado of estados) {
                        select.innerHTML += `<option value="${estado.id}">${estado.sigla}</option>`
                    }

                }
            };

            // Create and send a GET request
            // The first argument is the post type (GET, POST, PUT, DELETE, etc.)
            // The second argument is the endpoint URL

            xhr.open('GET', '/buscaEstado');
            xhr.send();

            // 
        };

        buscaEstados();



        function buscaCidades(estadoselecionado) {



            // Set up our HTTP request
            var xhr = new XMLHttpRequest();

            // Setup our listener to process completed requests
            xhr.onload = function () {

                // Process our return data
                if (xhr.status >= 200 && xhr.status < 300) {
                    // Runs when the request is successful
                    let cidades = JSON.parse(xhr.responseText);
                    let select = document.getElementById('cidade');
                    select.innerText = '';
                    select.innerHTML = '<option value="">Selecione</option>';

                    for (let cidade of cidades) {
                        select.innerHTML += `<option value="${cidade.id}">${cidade.cidade}</option>`
                    }
                }

            };
            // Create and send a GET request
            // The first argument is the post type (GET, POST, PUT, DELETE, etc.)
            // The second argument is the endpoint URL
            let url = '/buscaCidade/' + estadoselecionado
            xhr.open('GET', url);
            xhr.send();
        };

        let selectestado = document.getElementById('estado');

        let estadoselecionado = selectestado.addEventListener("change", function () {
            buscaCidades(this.value);
        });

        console.log(estadoselecionado);

        


        let date = new Date();
        let min = 1910,
            max = date.getFullYear(),
            select = document.getElementById('anoNasc');
        for (let i = min; i <= max; i++) {
            let opt = document.createElement('option');
            opt.value = i;
            opt.innerHTML = i;
            select.appendChild(opt);
        }
        select.value = new Date().getFullYear();
        let min2 = 1,
            max2 = 31,
            select2 = document.getElementById('diaNasc');
        for (let i = min2; i <= max2; i++) {
            let opt = document.createElement('option');
            opt.value = i;
            opt.innerHTML = i;
            select2.appendChild(opt);
        }
    </script>

    <%- include('./partials/footer') %>