<%- include('./partials/header') %>

<section id="tema"></section>

<div class="container" id='containerTema'>
    <form action='/editar' method='POST' enctype="multipart/form-data" id="form">
        <div class="row">
            <div class="col-md-12 ">
                <div class="text-right">
                    <label id='btnAltTema'>
                        <input type="file" id='inputFileTema' name='fotoTema' />
                        Alterar Tema
                    </label>
                </div>

                <div id='cabecalho'>

                    <div id="avatar1">
                        <div id='avatarEnd'><%=fotoUsuario%></div>
                    </div>

                    <div id="highLights">
                        <h3><%=nomeUsuario%></h3>
                        <h4><%=apelidoUsuario%></h4>
                        <h4><%=cidadeUsuario%>/<%=estadoUsuario%></h4>
                    </div>

                    <div id="descricao"><%=descricaoUsuario%></div>

                    <!-- <div class="redesSociais">
                    <div id='facebook'></div>
                    <div id='twitter'></div>
                    <div id='googleplus'></div>
                </div> -->

                </div>
                <div class="row">
                    <div class="col-12" id='areaCentralEditar'>
                        <h1 id='cadEditarH1'>Atualizar Informações</h1>
                        <div class="row">
                            <div class="col-0 col-sm-12 col-md-1 col-lg-1"></div>
                            <div class="col-12 col-sm-12 col-md-8 col-lg-8" id='areaCinzaFormEditar'>
                                <div class="row">
                                    <div class="col-2 col-sm-2 col-md-1 col-lg-1"></div>
                                    <div class="col-8 col-sm-8 col-md-10 col-lg-10" id='areaCentralFormEditar'>
                                        <h2>Informações Básicas</h2>

                                        <div class="form-group pt-3">
                                            <label for="nomeUser">Nome</label>
                                            <input type="text" class="form-control" id="nomeUser" name="nomeUser"
                                                required>
                                        </div>
                                        <div class="row tamanho">
                                            <div class="col-12 col-sm-12 col-md-5 col-lg-5">
                                                <div class="form-group">
                                                    <label for="apelido">Apelido</label>
                                                    <input type="text" class="form-control" id="apelido" name="apelido">
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-7 col-lg-7">
                                                <div class="form-group">
                                                    <label for="genero">Gênero</label>
                                                    <select class="form-control" id="genero" name='genero'>
                                                        <option value="">Selecione</option>
                                                        <option value="0">Outros</option>
                                                        <option value="1">Feminino</option>
                                                        <option value="2">Masculino</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row tamanho">
                                            <div class="col-12 col-sm-12 col-md-5 col-lg-5">
                                                <div class="form-group">
                                                    <label for="estado">Estado</label>
                                                    <select class="form-control" id="estado" name='estado'>
                                                        <option value="">Selecione</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-7 col-lg-7">
                                                <div class="form-group">
                                                    <label for="cidade">Cidade</label>
                                                    <select class="form-control" id="cidade" name='cidade'>
                                                        <option value="">Selecione</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="dtNasc">Data de Nascimento</label>
                                            <div class="row tamanho">
                                                <div class="col-3 col-sm-3 col-md-2 col-lg-2 nopaddingleft">
                                                    <select class="form-control nopadding" id="diaNasc" name='diaNasc'>
                                                    </select>
                                                </div>
                                                <div class="col-5 col-sm-5 col-md-3 col-lg-3 nopadding">
                                                    <select class="form-control nopadding" id="mesNasc" name='mesNasc'>
                                                        <option value="1">Janeiro</option>
                                                        <option value="2">Fevereiro</option>
                                                        <option value="3">Março</option>
                                                        <option value="4">Abril</option>
                                                        <option value="5">Maio</option>
                                                        <option value="6">Junho</option>
                                                        <option value="7">Julho</option>
                                                        <option value="8">Agosto</option>
                                                        <option value="9">Setembro</option>
                                                        <option value="10">Outubro</option>
                                                        <option value="11">Novembro</option>
                                                        <option value="12">Dezembro</option>
                                                    </select>
                                                </div>
                                                <div class="col-4 col-sm-4 col-md-3 col-lg-3 nopaddingright">
                                                    <select class="form-control nopadding" id="anoNasc" name='anoNasc'>
                                                    </select>
                                                </div>
                                                <div class="col-md-4 col-lg-4">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row tamanho">
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label for="tipoNivelAP">Tipo (Nível AP)</label>
                                                    <select class="form-control" id="tipoNivelAP" name='tipoNivelAP'>
                                                        <option value="">Selecione</option>
                                                        <option value="1">Baixo</option>
                                                        <option value="2">Médio</option>
                                                        <option value="3">Alto</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-6"></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="descricaoUser">Descrição</label>
                                            <textarea style="resize: none" class="form-control" id="descricaoUser"
                                                name='descricaoUser' rows="4"></textarea>
                                        </div>
                                        <div class="row tamanho">
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label for="senha">Senha</label>
                                                    <input type="password" class="form-control" id="senha" name='senha'>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label for="senha2">Confirmar Senha</label>
                                                    <input type="password" class="form-control" id="senha2"
                                                        name='senha2'>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2 col-sm-2 col-md-1 col-lg-1"></div>
                                </div>
                            </div>
                            <div class="col-0 col-sm-12 col-md-3 col-lg-3" id="addImg">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <div>Foto Perfil</div>
                                        <br>
                                        <div class="image-upload">
                                            <label for="file-input">
                                                <img src="/images/default/uploadphoto.svg" width="50%"
                                                    alt="Botão Adicionar Foto Perfil"
                                                    title="Clique para adionar a foto do perfil"
                                                    id="imgFotoPerfil" />
                                            </label>
                                            <input id="file-input" type="file" name='avatar' />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 pt-5 text-center">
                                <button type="submit" id='botaoEditar'>Atualizar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </form>
</div>

<script src="js/scriptEditar.js"></script>
<script src='js/fotoPerfil.js' onload></script>
<%- include('./partials/footer') %>