<%- include('./partials/header') %>

<div class="container-fluid">
  <div class="row o-feeds-header">
    <!--     <h2>Bem Vindo ao Looders!</h2> -->
  </div>
</div>
<div class="container-fluid u-bg-green">
  <div class="row">
    <main class="container">
      <div class="row o-feeds-content-green">
        <h2>Bem Vindo ao Looders!</h2>
      </div>
    </main>
  </div>
</div>
<div class="container-fluid">
  <div class="row"></div>
  <main class="container">
    <div class="row o-feeds-content">
      <h2>Ranking Looders</h2>
    </div>
  </main>

  <div class="my-slider">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <%- include('./partials/highlights-five', {jogos}) %>

</div>

</div>
<div class="container-fluid u-bg-white">
  <main class="container">
    <div class="row o-feeds-content">
      <h2>Jogos Indicados para Você</h2>
    </div>
  </main>
  <%- include('./partials/highlights-five', {jogos : jogosIndicados }) %>
</div>

<div class="container-fluid">
    <main class="container">
      <div class="row o-feeds-content">
        <h2>Adicionados Recentemente</h2>
      </div>
    </main>
    <%- include('./partials/highlights-five', {jogos : jogosRecentes }) %>
</div>

<script src="js/scriptListaJogos.js"></script>
<%- include('./partials/footer') %>