<%- include('./partials/header') %>

<div class="container-fluid">
  <div class="row o-feeds-header">

    <%- include('./partials/advance-search') %>
    
  </div>
</div>

<div class="container-fluid u-bg-green">
  <div class="row">
    <main class="container">
      <div class="row o-feeds-content-green">
        <%- include('./partials/trending-searches') %>
      </div>
    </main>
  </div>
</div>
<div class="container-fluid">
  <div class="row"></div>
  <main class="container">
    <div class="row o-feeds-content">
      <h2>Ranking Looders</h2>
    </div>
  </main>

  <div class="my-slider">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <%- include('./partials/highlights-five') %>

</div>
</div>
<div class="container-fluid u-bg-white">
  <div class="row">
    <main class="container">
      <div class="row o-feeds-content">
        <h2>Jogos Indicados para Você</h2>
      </div>
    </main>
    <%- include('./partials/highlights-five') %>
  </div>
  <div class="container-fluid">
    <div class="row">
      <main class="container">
        <div class="row o-feeds-content">
          <h2>Adicionados Recentemente</h2>
        </div>
      </main>
      <%- include('./partials/highlights-five') %>
    </div>
  </div>

  <script src="js/scriptListaJogos.js"></script>
  <%- include('./partials/footer') %>