<%- include('./partials/header') %>

<section class="c-banner-jogo" style="background-image: url('buscaImagem/<%= jogo.fotoTema %>');"></section>
<main class="container c-jogo">
  <input type="hidden" id="jogoId" value="<%= jogo.id %>">
  <div class="c-jogo__left">
    <div class="c-jogo__left--description c-jogo__left--content" data-aos="fade-up" data-aos-duration="1000"
      data-aos-delay="200">
      <div class='c-photo-game' id='headPage'
        style="background: url('buscaImagem/<%= jogo.foto %>') center center no-repeat; min-height: 280px;"></div>
      <div class="c-jogo__description c-category-<%= jogo.tema_id %>">
        <h2 id='jogoNome'><%= jogo.nome %></h2>
        <p id='jogoDescricao'><%= jogo.descricao %></p>
        <a class="c-tag c-jogo__tag c-category-<%= jogo.tema_id %>">Tema do jogo: <%= jogo.tema.nome %></a>
      </div>
    </div>
    <div class="c-jogo__left--news c-jogo__left--content o-border-shadow" data-aos="fade-up" data-aos-duration="1000"
      data-aos-delay="200">
      <h5>Confira os Jogos Relacionados</h5>
      <ol>
        <% for(let jogoRelacionado of jogosRelacionados) { %>
        <li>
          <a href="/jogo?id=<%= jogoRelacionado.id %>">
            <h6><%= jogoRelacionado.nome %></h6>
          </a>
        </li>
        <% } %>
      </ol>
    </div>
  </div>
  <div class="c-jogo__right" style="margin-top: 0px;">
    <div class="c-jogo__right--info c-jogo__right--content" data-aos="fade-up" data-aos-duration="1000"
      data-aos-delay="400">
      <h2 id='rated' class="c-jogo__right--title">

        <a href="#" id="favoritar" class="btn btn-secondary" data-tooltip="Desfavoritar"
          data-placement="top"><%= favorito ? 'Desfavoritar' : 'Favoritar'  %></a>
        <a href="#" id="colecao" class="btn btn-primary" data-tooltip="Remover da sua coleção"
          data-placement="top"><%= colecao ? 'Retira coleção' : 'Adiciona coleção'  %></a>      

        <p>Usuário:</p> <%- include('./partials/rating') %>

        <p id="notaJogo" class="c-total-note"><%= (jogo.notaJogo / 2).toFixed(1)  %></p> 

      </h2>
      <!-- <div id='jogolinkYoutube'><iframe  width="560" height="315" src="https://www.youtube.com/embed/aR-KAldshAE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div> -->
    </div>
    <div class="c-jogo__right--menu c-jogo__right--content" data-aos="fade-up" data-aos-duration="1000"
      data-aos-delay="400">
      <div>
        <h1 class="game-name"><%= jogo.nome %> (<%= jogo.ano %>)</h1>
        <h6 class="game-detail">Descrição:</h6>
        <p class="game-detail-content"><%= jogo.descricao %></p>
        <h6 class="game-detail">Ano de lançamento:</h6>
        <p class="game-detail-content"><%= jogo.ano %></p>
        <h6 class="game-detail">Faixa etária:</h6>
        <p class="game-detail-content"><%= jogo.faixaEtaria %></p>
        <h6 class="game-detail">Duração:</h6>
        <h6 class="game-detail-content"><%= jogo.faixaEtaria %></h6>

      </div>
      <!-- <div id='jogolinkYoutube'><iframe  width="560" height="315" src="https://www.youtube.com/embed/aR-KAldshAE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div> -->
    </div>
    <div class="c-jogo__right--evaluation c-jogo__right--content"
      style="background-color: transparent; padding-bottom: 0;" data-aos="fade-up" data-aos-duration="1000"
      data-aos-delay="200">
      <h2 class="c-jogo__right--title c-category-<%= jogo.tema_id %> o-color-white o-border-shadow"><i class="icon ion-android-star-half"></i>
        Avaliações</h2>
    </div>
    <div class="c-jogo__right--comments c-jogo__right--content" data-aos="fade-up" data-aos-duration="1000"
      data-aos-delay="200">
      <div id="comentarios">
        <%- include('./partials/comments', {comentarios, flagPerfilUsuario : false}) %>
      </div>
      <% if(comentarios.length == 0) { %>
      <p id="no-data" style="text-align: center;">Este jogo ainda não possui avaliações</p>
      <%} else if(countComentarios > 6) {%>
      <a id="verMais" style="color: white;" class="c-bt-default" onclick="carregaComentarios('<%= jogo.id %>')">Ver
        mais</a>
      <%}%>
    </div>

  </div>

</main>

<%- include('./partials/footer') %>

<script> 
let dominantColor = "<%= dominantColor %>";
let pageUrl = window.location.host;
let btTheme = document.querySelector('.c-tag');

btTheme.setAttribute('href', 'http://' + pageUrl + '/busca?tipo=jogo&nomeUsuario=&nomeJogo=&tema=<%= jogo.tema_id %>&dominio=0&mecanica=0')

console.log(teste);
</script>
<script src="js/gamec-rating.js"></script>
<script src='js/scriptTelaJogo.js'></script>