<%- include('./partials/header') %>

<link rel='stylesheet' href='/css/separados/moduloDestaques.css' />

<section id="tema" style="background-image: url('/buscaImagem/<%= USUARIO.fotoTema %>');"></section>

<div class="container" id='containerTema'>
    <div class="row">
        <div class="col-md-12 ">

            <div id='cabecalho'>

                <div id="avatar1">
                    <div id='avatarEnd'>'/buscaImagem/<%= USUARIO.foto %>'</div>
                </div>

                <div id="highLights">
                    <h3><%=nomeUsuario%></h3>
                    <h4><%=apelidoUsuario%></h4>
                    <h4><%=cidadeUsuario%> / <%=estadoUsuario%></h4>
                </div>

                <div id="descricao"><%=descricaoUsuario%></div>

                <div id='destaques'>

                    <a href="/moduloDestaques?id=<%=idUsuario%>&tipo=2"><strong>Favoritei: <%=favoritos%></strong></a>
                    <a href="/moduloDestaques?id=<%=idUsuario%>&tipo=3"><strong>Já joguei: <%=jogados%></strong></a>
                    <a href="/moduloDestaques?id=<%=idUsuario%>&tipo=1"><strong>Minha coleção:
                            <%=colecionados%></strong></a>
                </div>

            </div>

            <div id='areaCentral'>
                <div class="containerTabela container">
                    <div class="row">
                        <% if(tipo == 1) { %>
                        <h1>Jogos colecionados</h1>
                        <% } else if(tipo == 2) {%>
                        <h1>Jogos Favoritos</h1>
                        <% } else if(tipo == 3) {%>
                        <h1>Jogados</h1>
                        <% } %>
                    </div>
                    <%- include('./partials/highlights-five', {jogos, flagClicavel : true}) %>
                    <% if(jogos.length == 0) { %>
                    <p>Nenhum jogo adicionado</p>
                    <% } %>
                </div>
            </div>

        </div>
    </div>
</div>

<script src='js/fotoPerfil.js' onload></script>
<%- include('./partials/footer') %>
<script>
    let dominantColor = "<%= dominantColor %>";

    document.querySelector('header').style.background = `rgb(${dominantColor})`;
    document.querySelector('footer div').style.background = `rgb(${dominantColor})`;
</script>