<%- include('./partials/header') %>

<link rel='stylesheet' href='/css/separados/moduloDestaques.css' />

<section id="tema" style="background-image: url('/buscaImagem/<%= USUARIO.fotoTema %>');"></section>

<div class="container" id='containerTema'>
    <div class="row">
        <div class="col-md-12 ">

            <div id='cabecalho'>

                <div id="avatar1">
                    <div id='avatarEnd'>'/buscaImagem/<%= USUARIO.foto %>'</div>
                </div>

                <div id="highLights">
                    <h3><%=nomeUsuario%></h3>
                    <h4><%=apelidoUsuario%></h4>
                    <h4><%=cidadeUsuario%> / <%=estadoUsuario%></h4>
                </div>

                <div id="descricao"><%=descricaoUsuario%></div>

                <!-- <div class="redesSociais">
                    <div id='facebook'></div>
                    <div id='twitter'></div>
                    <div id='googleplus'></div>
                </div> -->

            </div>



            <div id='areaCentral'>
                <div class="containerTabela">
                    <div class="row " id='linha'>
                        <!-- <div class='containerJogo'>
                            <div class="col" id='estrelas'></div>
                            <div class="col" id='capaJogo'></div>
                            <div class="col" id='nomeJogo'>Star Wars Legion</div>
                        </div>

                        <div class='containerJogo'>
                            <div class="col" id='estrelas'></div>
                            <div class="col" id='capaJogo'></div>
                            <div class="col" id='nomeJogo'>Star Wars Legion</div>
                        </div>

                        <div class='containerJogo'>
                            <div class="col" id='estrelas'></div>
                            <div class="col" id='capaJogo'></div>
                            <div class="col" id='nomeJogo'>Star Wars Legion</div>
                        </div>


                        <div class='containerJogo'>
                            <div class="col" id='estrelas'></div>
                            <div class="col" id='capaJogo'></div>
                            <div class="col" id='nomeJogo'>Star Wars Legion</div>
                        </div>

                        <div class='containerJogo'>
                            <div class="col" id='estrelas'></div>
                            <div class="col" id='capaJogo'></div>
                            <div class="col" id='nomeJogo'>Star Wars Legion</div>
                        </div>

                        <div class='containerJogo'>
                            <div class="col" id='estrelas'></div>
                            <div class="col" id='capaJogo'></div>
                            <div class="col" id='nomeJogo'>Star Wars Legion</div>
                        </div>


                        <div class='containerJogo'>
                            <div class="col" id='estrelas'></div>
                            <div class="col" id='capaJogo'></div>
                            <div class="col" id='nomeJogo'>Star Wars Legion</div>
                        </div>


                        <div class='containerJogo'>
                            <div class="col" id='estrelas'></div>
                            <div class="col" id='capaJogo'></div>
                            <div class="col" id='nomeJogo'>Star Wars Legion</div>
                        </div>

                        <div class='containerJogo'>
                            <div class="col" id='estrelas'></div>
                            <div class="col" id='capaJogo'></div>
                            <div class="col" id='nomeJogo'>Star Wars Legion</div>
                        </div>


                        <div class='containerJogo'>
                            <div class="col" id='estrelas'></div>
                            <div class="col" id='capaJogo'></div>
                            <div class="col" id='nomeJogo'>Star Wars Legion</div>
                        </div>

                        <div class='containerJogo'>
                            <div class="col" id='estrelas'></div>
                            <div class="col" id='capaJogo'></div>
                            <div class="col" id='nomeJogo'>Star Wars Legion</div>
                        </div> -->
                        <%- include('./partials/highlights-five', {jogos, flagClicavel : true}) %>
                    </div>
                </div>

            </div>
            <!--id='areaCentral'-->
            <!-- <div id='areaBotao'>
                <form>
                    <button type="submit" id='botao'>Ver Mais</button>
                </form>
            </div> -->
        </div>

    </div>

</div>


<script src='js/fotoPerfil.js' onload></script>
<%- include('./partials/footer') %>