<%- include('./partials/header') %>

<section class="c-banner-perfil" style="background-image: url('/buscaImagem/<%= temaUsuario %>');"></section>
<main class="container c-perfil">
  <div class="c-perfil__left">
    <div class="c-perfil__left--description c-perfil__left--content" data-aos="fade-up" data-aos-duration="1000"
      data-aos-delay="200">
      <div class="c-photo" style="background: url('/buscaImagem/<%= fotoUsuario %>') center center no-repeat;"></div>
      <h2 id='nome'><%=nomeUsuario%></h2>
      <%if(cargo == 2 && aprovado == 1){%>
        <h4 id='cargo'>Administrador</h4>
        <%}else{%>
        <%if(cargo == 1 && aprovado == 1){%>
        <h4 id='cargo'>Moderador</h4>
        <%}else{%>
        <h4 id='cargo'>Usuário</h4>
        <%}}%>
      <h4><%=apelidoUsuario%></h4>
      <p><%=descricaoUsuario%></p>
      <h3><%=cidadeUsuario%> - <%=estadoUsuario%></h3>
      <div class="row">
        <a href='/moduloDestaques?id=<%=idUsuario%>&tipo=1'><%= countColecao %><i class="icon ion-ios-albums-outline"
            style="font-size: 40px; padding: 2px;" title="Coleção"></i> </a>
        <a href='/moduloDestaques?id=<%=idUsuario%>&tipo=2'><%= countFavoritos %><i class="icon ion-ios-heart-outline"
            style="font-size: 40px; padding: 2px;" title="Favoritos"></i></a>
        <a href='/moduloDestaques?id=<%=idUsuario%>&tipo=3'><%= countJaJoguei %><i class="icon ion-ios-game-controller-b-outline"
            style="font-size: 40px; padding: 2px;" title="Já joguei"></i> </a>
      </div>
    </div>
  </div>
  <div class="c-perfil__right">
    <div class="c-perfil__right--fav c-perfil__right--content" data-aos="fade-up" data-aos-duration="1000"
      data-aos-delay="400">
      <h2 class="c-perfil__right--title o-border-shadow"><i class="icon ion-ios-heart"></i> Favoritos</h2>
      <%- include('./partials/highlights-three', {jogos : jogosFavoritos}) %>
      <% if(countFavoritos > 6) { %>
      <a href="/moduloDestaques?id=<%=idUsuario%>&tipo=2" class="c-bt-default">Ver mais</a>
      <% }%>
    </div>
    <div class="c-perfil__right--fav c-perfil__right--content" data-aos="fade-up" data-aos-duration="1000"
      data-aos-delay="400">
      <h2 class="c-perfil__right--title o-border-shadow"><i class="icon ion-ios-albums"></i> Coleção</h2>
      <%- include('./partials/highlights-three', {jogos : jogosColecao}) %>
      <div style="padding: 15px; align-content: right;">
        <% if(countColecao > 6) { %>
        <a href="/moduloDestaques?id=<%=idUsuario%>&tipo=1" class="c-bt-default">Ver mais</a>
        <% }%>
      </div>
    </div>
    <div class="c-perfil__right--fav c-perfil__right--content" data-aos="fade-up" data-aos-duration="1000"
      data-aos-delay="400">
      <h2 class="c-perfil__right--title o-border-shadow"><i class="icon ion-ios-game-controller-b"></i> Já joguei</h2>
      <%- include('./partials/highlights-three', {jogos : jogosJaJoguei}) %>
      <div style="padding: 15px; align-content: right;">
        <% if(countJaJoguei > 6) { %>
        <a href="/moduloDestaques?id=<%=idUsuario%>&tipo=3" class="c-bt-default">Ver mais</a>
        <% }%>
      </div>
    </div>
    <div class="c-perfil__right--evaluation c-perfil__right--content" data-aos="fade-up" data-aos-duration="1000"
      data-aos-delay="200" style="background-color: transparent; padding-bottom: 0;">
      <h2 class="c-perfil__right--title o-border-shadow"><i class="icon ion-android-star-half"></i> Avaliações </h2>
    </div>
    <div class="c-perfil__right--comments c-perfil__right--content" data-aos="fade-up" data-aos-duration="1000"
      data-aos-delay="200">
      <%- include('./partials/comments', {flagPerfilUsuario : true}) %>
    </div>
  </div>

</main>


<%- include('./partials/footer') %>

<script>
  let dominantColor = "<%= dominantColor %>";

  document.querySelector('header').style.background = `rgb(${dominantColor})`;
  document.querySelector('footer div').style.background = `rgb(${dominantColor})`;

  let corCargo = ''
    let cargo = "<%= cargo%>"
    let aprovado = "<%= aprovado%>"

    if (cargo == 2 && aprovado == 1) {
        corCargo = '#F22441'
    } else {
        
        if (cargo == 1 && aprovado == 1) {
            corCargo = '#FFCF40'
        } else {
            corCargo = '#0F7A2F'
        }
    }

    document.querySelector('.c-photo').style.border = `4px solid ${corCargo}`;
    document.querySelector('#nome').style.color = `${corCargo}`;
</script>