<%- include('./partials/header') %>
<link rel='stylesheet' href='/css/separados/perfilAdm.css'>


<section id="temaPerfil"></section>

<div class="container" id='containerTema'>
    <div class="row">
        <div class="col-12" id='areaCentral'>

            <!-- Status Bar -->
            <div class="container2">
                <div class="row">
                    <div class="col-sm" id="admCol1">
                        <div>Aprovados</div>
                        <h1 id='numAprovados'><%= countStatus.aprovados %></h1>
                    </div>
                    <div class="col-sm" id="admCol2">
                        <div> Pendentes</div>
                        <h1 id='numPendentes'><%= countStatus.pendentes %></h1>
                    </div>
                    <div class="col-sm" id="admCol3">
                        <div>Rejeitados</div>
                        <h1 id='numRejeitados'><%= countStatus.negados %></h1>
                    </div>
                </div>
            </div>

            <!-- Jogos -->
            <table class="table" id="table">
                <thead>
                    <tr>
                        <th>Usuário</th>
                        <th>Apelido</th>
                        <th>Aprovação</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(countStatus.pendentes == 0) { %>
                    <tr>
                        <td></td>
                        <td><p>Sem ações necessárias</p></td>
                        <td></td>
                    </tr>
                    <% } %>
                    <% for(let usuario of pendentes) { %>
                    <tr>
                        <td><a href="/perfil/<%= usuario.id %>"><%= usuario.nome %></a></td>
                        <td>
                            <%= usuario.apelido %>
                        </td>
                        <td>
                            <a href="/perfilAdm/aprovaModerador/<%= usuario.id %>"><img id="lapisVerde"
                                    src="/images/icons/lapisVerde.png" alt="lapisVerde"></a>
                            <a href="/perfilAdm/reprovaModerador/<%= usuario.id %>"><img id="lapisVerde"
                                    src="/images/icons/Xis.png" alt="Xis"></a>
                            </form>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>


    </div>
</div>

<script src='/js/scriptPerfilAdm.js'></script>
<%- include('./partials/footer') %>